{% extends "base.html" %}

{% block content %}

    {% if not individual_blog_page %}

        <center><h1>Build  a Blog </h1></center>
        
    {% endif %}
    
    
    {% for blog in blogs %}

        {% if individual_blog_page %} 
            
            
            <center><h2> {{ blog.title }}</h2></center>
            <p>{{ blog.body }}</p>
           
        {% else %}

            <h2><a href='/blog?id={{ blog.id }}'> {{ blog.title }}</a> </h2>
            <p>{{ blog.body }}</p>

        {% endif %}

    {% endfor %}


{% endblock %}